LINE_CHANNEL_SECRET=13123131
LINE_CHANNEL_ACCESS_TOKEN=asdasdasdasd
PORT=3000
# NODE_ENV=development
NODE_ENV=production
BASE_URL=https://traffic-antirust-dodge.ngrok-free.dev
LIFF_ID=2010283331-Sw6wvTxU
DOWNSTREAM_URL=http://localhost:3001/webhook
